<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<%= content_tag :th, "Nr." if @master_order.menu.has_numbers %>
		    <th>Gericht</th>
		    <th class="price_column">Preis</th>
		    <th>Sonderwunsch</th>
		    <th></th>
		</tr>
	</thead>
	<% @order_items.each do |orderitem| %>
	  <tr>
		<%= content_tag :td, orderitem.menu_item.order_number if @master_order.menu.has_numbers %>
	    <td><%= orderitem.menu_item.name %></td>
	    <td><%= number_to_currency(orderitem.menu_item.price) %></td>
	    <td>
		    <%= form_tag ('/add_specialwishes') do %>
			    <%= hidden_field_tag "orderitem_id", orderitem.id %>
			    <%= hidden_field_tag "master_order_id", @master_order.id %>
			    <%= hidden_field_tag "user_order_id", @current_user_order.id %>
			    <%= text_field_tag 'specialwishes', orderitem.special_wishes, :disabled => @master_order.deadline_crossed %> 
		    	<%= button_tag('Merken', :class => "btn btn-inverse", :disabled => @master_order.deadline_crossed) do 
		    		content_tag(:i, "", :class => "icon-ok icon-white")
		    		end %>
	    	<% end %>
	    </td>
	    <td>
		    <%= form_tag ('/remove_orderitem') do %>
			    <%= hidden_field_tag "orderitem_id" , orderitem.id %>
			    <%= hidden_field_tag "master_order_id", @master_order.id %>
			    <%= hidden_field_tag "user_order_id", @current_user_order.id %>
			    <%= button_tag('Löschen', :class => "btn btn-danger", :disabled => @master_order.deadline_crossed) do 
			    	content_tag(:i, "", :class => "icon-remove icon-white")
			    	end %>
		    <%end%>
	    </td>
	  </tr>
	<% end %>
	<tr>
		<td>
		 	<strong> Gesamtpreis: 
				<% useroder_price = OrderItem.get_price_of_all_items_of_one_userorder(@current_user_order) %>
		 		<%= number_to_currency(useroder_price) %>
			</strong>
		</td> 
		<%= content_tag :td if @master_order.menu.has_numbers %>
		<td></td>
		<td></td>
		<td></td>
	</tr>	
</table>

<div style="text-align:right">
	<%= form_tag(user_order_url(@current_user_order), :method => :get) do %>
	  <%= text_field_tag(:searchpattern) %>
	  <%= button_tag('Suchen', :class => "btn btn-primary") do 
	  	content_tag(:i, "", :class => "icon-search icon-white")
	  	end %>
	<% end %>
</div>

<% menu_items = MenuItem.all_menu_items_by_menu_id(@master_order.menu.id, params[:searchpattern]) %>
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<%= content_tag :th, "Nr.", :class => "number_column" if @master_order.menu.has_numbers %>
		    <th class="name_column">Gericht</th>
		    <th>Beschreibung</th>
		    <th class="price_column">Preis</th>
		    <th></th>
	  	</tr>
  	</thead>
	<% menu_items.each do |item| %>
	  <tr>
		<%= content_tag :td, item.order_number if @master_order.menu.has_numbers %>
	    <td><%= item.name %></td>
	    <td><%= item.description %></td>
	    <td><%= number_to_currency(item.price) %></td>
	    <td>
		    <%= form_tag ('/add_orderitem') do %>
			    <%= hidden_field_tag "menu_item_id" , item.id %>
			    <%= hidden_field_tag "master_order_id", @master_order.id %>
			    <%= hidden_field_tag "user_order_id", @current_user_order.id %>
			    <%= button_tag('Dazu', :class => "btn btn-success", :disabled => @master_order.deadline_crossed) do 
			    	content_tag(:i, "", :class => "icon-plus icon-white")
			    	end %>
		    <%end%>
	    </td>
	  </tr>
	<% end %>
</table>
