<table class="table table-striped table-bordered">
	<tr>
	<% if @master_order.menu.has_numbers then content_tag :th, "Nr." end %>
    <th>Gericht</th>
    <th>Preis</th>
    <th>Sonderwunsch</th>
    <th></th>
  </tr>
	<% @order_items.each do |orderitem| %>
	  <tr>
		<% if @master_order.menu.has_numbers then content_tag :td, orderitem.menu_item.order_number end %>
	    <td><%= orderitem.menu_item.name %></td>
	    <td><%= number_to_currency(orderitem.menu_item.price, :locale => :de) %></td>
	    <%= form_tag ('/add_specialwishes') do %>
	     <%= hidden_field_tag "orderitem_id", orderitem.id %>
	     <%= hidden_field_tag "master_order_id", @master_order.id %>
	    <td>
	    	<%= text_field_tag 'specialwishes', orderitem.special_wishes %> 
	    	<%= button_tag('Merken', :class => "btn btn-inverse") do 
	    			content_tag(:i, "", :class => "icon-ok icon-white")
	    		end %>
	    </td>
	    <% end %>
	    <%= form_tag ('/remove_orderitem') do %>
	     <%= hidden_field_tag "orderitem_id" , orderitem.id %>
	     <%= hidden_field_tag "master_order_id", @master_order.id %>
	    <td>
	    	<%= button_tag('Löschen', :class => "btn btn-danger") do 
	    			content_tag(:i, "", :class => "icon-remove icon-white")
	    		end %>
	    </td>
	    <%end%>
	  </tr>
	<% end %>
	<tr>
		<td>
		 	<strong> Gesamtpreis: 
				<% useroder_price = OrderItem.get_price_of_all_items_of_one_userorder(@current_user_order.id) %>
		 		<%= number_to_currency(useroder_price, :locale => :de) %>
			</strong>
		</td> 
		<td></td>
		<td></td>
		<td></td>
	</tr>	
</table>

<div style="text-align:right">
	<%= form_tag("/show_user_order") do %>
	  <%= text_field_tag(:searchpattern) %>
	  <%= hidden_field_tag "master_order_id", @master_order.id %>
	  <%= button_tag('Löschen', :class => "btn btn-primary") do 
	    			content_tag(:i, "", :class => "icon-search icon-white")
	    		end %>
	<% end %>
</div>

<% menu_items = MenuItem.all_menu_items_by_menu_id(@master_order.menu.id, params[:searchpattern]) %>
<table class="table table-striped table-condensed">
	<tr>
	<% if @master_order.menu.has_numbers then content_tag :th, "Nr." end %>
    <th>Gericht</th>
    <th>Beschreibung</th>
    <th>Preis</th>
    <th></th>
   
  </tr>
	<% menu_items.each do |item| %>
	  <tr>
		<% if @master_order.menu.has_numbers then content_tag :td, item.order_number end %>
	    <td><%= item.name %></td>
	    <td><%= item.description %></td>
	    <td><%= number_to_currency(item.price, :locale => :de) %></td>
	     <%= form_tag ('/add_orderitem') do %>
	     <%= hidden_field_tag "menu_item_id" , item.id %>
	     <%= hidden_field_tag "master_order_id", @master_order.id %>
	    <td>
	    		  <%= button_tag('Dazu', :class => "btn btn-success") do 
	    			content_tag(:i, "", :class => "icon-plus icon-white")
	    		end %>
	    </td>
	    <%end%>
	  </tr>
	<% end %>
</table>
