<div class="well sidebar-nav">
  <ul class="unstyled">
    <li>
	    <% if !@master_order.nil? %>
	    	<h1 class="header_masteransicht"> <%= @master_order.menu.name %>
	    	<%= @master_order.menu.phone %> </h1>
			<% if @is_my_order %>
				<span>Noch nicht bezahlt haben: <strong><%= @unpaid_users.join(", ") %></strong>, es fehlen noch <strong><%= number_to_currency(@unpaid_money) %></strong></span>
	    	<% end %>
	    <% else %>
			<h1 class="header_masteransicht"> Sie haben keine Masterorder eröffnet </h1>
	    <% end %>
    </li>
  <ul>
</div>

<ul id="myTab" class="nav nav-tabs">
  <li><a href="#by_user" data-toggle="tab">Besteller</a></li>
  <li><a href="#by_menu_item" data-toggle="tab">Gruppiert</a></li>
</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane active" id="by_user">
		<% @user_orders.each do |order| %>
			<h2><%= order.user.name %></h2>
			<table class="table table-striped table-bordered">
				<tr>
					<%= if @master_order.menu.has_numbers then content_tag :th, "Nr." end %>
				    <th>Gericht</th>
				    <th>Sonderwunsch</th>
			    </tr>
				<% order.order_items.each do |order_item| %>
					<tr>
						<%= if @master_order.menu.has_numbers then content_tag :td, order_item.menu_item.order_number end %>
					    <td><%= order_item.menu_item.name %></td>
					    <td><%= order_item.special_wishes %></td>
					</tr>
				<% end %>
				<tr>
					 <td><strong> Preis: <%= number_to_currency(OrderItem.get_price_of_all_items_of_one_userorder(order))%></strong></td>
					 <%= if @master_order.menu.has_numbers then content_tag :td end %>
					 <td>
					 	<% if @is_my_order %>
						 	<%= form_tag('/toggle_paid_of_userorder') do %>
							 	<%= hidden_field_tag "user_order_id", order.id %>
							 	<div class="btn-group" data-toggle="buttons-radio">
							 		<%= button_tag("bezahlt", :class => order.paid ? "btn btn-success" : "btn btn-success active")%>
							 		<%= button_tag("nicht bezahlt", :class => order.paid ? "btn btn-danger active" : "btn btn-danger")%>
							 	</div>
						 	<% end %>
					 	<% end %>
					 </td> 
				</tr>
			</table>
		<% end %>
	</div>

	<div class="tab-pane" id="by_menu_item">
		<table class="table table-striped table-bordered">
			<tr>
			<th>Anzahl</th>
			<%= if @master_order.menu.has_numbers then content_tag :th, "Nr." end %>
		    <th>Gericht</th>
		    <th>Sonderwunsch</th>
		   </tr>
		   <% order_items_grouped = OrderItem.get_all_for_master_order_grouped_by_menu_item(@master_order.id) %>
			<% order_items_grouped.each do |menu_item, order_items| %>
			  <tr>
			  	<td><%= order_items.count %></td>
				<%= if @master_order.menu.has_numbers then content_tag :td, menu_item.order_number end %>
			    <td><%= menu_item.name %></td>
			    <td>
			    	<ul>
				    	<% order_items.find_all{|oi| !oi.special_wishes.empty? }.each do |order_item| %>
				    		<li><%= order_item.special_wishes %> (<%= order_item.user_order.user.name %>)</li>
				    	<% end %>
			    	</ul>
			    </td>
			  </tr>
			<% end %>
			<tr>
				 <td><strong> Summe: <%= number_to_currency(OrderItem.get_price_of_all_items_of_one_masterorder(@master_order.id))%></strong></td>
				 <%= if @master_order.menu.has_numbers then content_tag :td end %>
				 <td></td>
				 <td></td>
			</tr>
		</table>
	</div>
</div><!-- tab content -->

<% if @is_my_order %>
	<%= form_tag('/close_master_order') do %>
		  <%= submit_tag(@master_order.deadline_crossed ? "Bestellung öffnen" : "Bestellung schließen", :class => "btn btn-inverse") %>
	<% end %>
<% end %>

